@import "../../node_modules/bootstrap/scss/functions";

@keyframes rotate360 {
    from {transform: rotateZ(0deg);}
    to {transform: rotateZ(360deg);}
  }

  g#gearcontainer {
    transform-box: fill-box;
    transform-origin: center;
    animation-name: rotate360;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

g#g51 { /*The logo actually isn't circular, but for animation's sake, we let the svg be circular, and squeeze it through css instead. Also, I didn't get scss to work...*/
  transform: scaleX(1.020952380952381/*536/525*/) scale(0.97);
}